* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Futura PT', sans-serif;
    background: #F9F9F9;

}

/* ***********************
********COMPONENTS/*******
**************************/

.container-1 {
    width: 1340px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-2 {
    width: 1117px;
    margin-left: auto;
}

.button {
    width: 181px;
    height: 50px;
    padding: 15px 48px;

    text-decoration: none;
    font-size: 16px;
    line-height: 21px;

    color: #FFFFFF;

    background: #333333;
    border-radius: 3px;
    border: 0;
}

.title {
    font-size: 48px;
    line-height: 20px;
    color: #333333;
}


/* ***********************
**********SITE-HEADER*****
**************************/
.site-main {
    background: url(../images/bg.png), rgba(229, 229, 229, 0.6);
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover, cover;
    z-index: -2;
    margin-top: 100px;
    border: 1px solid transparent;
}

.site-header {
    padding-top: 14px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adress {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
}

.adress::before {
    content: '';
    display: inline-block;
    background-image: url(../images/house.svg);
    width: 22px;
    height: 13px;
    margin-right: 9px;
    background-repeat: no-repeat;
}

.contact-number {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    color: #333333;
}

.contact-number:hover {
    color: #FFBD54;
    transition: all .2s;
}

.contact-number:active {
    color: #333333;
    opacity: 0.6;
    transition: all .2s;
}

.contact-number__phone::before {
    content: '';
    display: inline-block;
    background-image: url(../images/phone.svg);
    width: 13px;
    height: 13px;
    margin-right: 9px;
}

.contact-number__ellipse::before {
    content: '';
    display: inline-block;
    background-image: url(../images/Ellipse\ 6.png);
    width: 4px;
    height: 4px;
    margin: 0 9px;
    margin-bottom: 3px;
}

.day-time {
    display: flex;
    align-items: center;
    justify-content: center;
}

.days,
.time {
    list-style-type: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
}

.bold {
    font-weight: bold;
}

.days {
    margin-right: 17px;
}

.days::before {
    content: '';
    display: inline-block;
    background-image: url(../images/calendar.png);
    width: 14px;
    height: 14px;
    margin-right: 7px;
}

.site-nav-header {
    background-color: #F9F8F8;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 15;
}


/* ***********************
***********SITE-NAV*******
**************************/

.site-nav {
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
}

.site-nav-bar {
    position: relative;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    position: absolute;
    width: 178px;
    height: 87px;
    left: 0;
    top: -20px;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.6;
}

.list-nav {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 306px;
}

.more {
    display: flex;
    margin-left: auto;

    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
}

.list-nav__link {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    margin-right: 51px;
}

.list-nav__link:nth-child(1) {
    border: 4px solid transparent;

}

.list-nav__link:hover {
    border-bottom: 4px solid #F4FFAD;
    transition: all .2s;
}

.list-nav__link:active {
    opacity: .6;
    border-bottom: 4px solid #F4FFAD;
    transition: all .2s;
}

.list-nav__link--fish {
    display: flex;
}

.list-nav__link--fish::before {
    content: '';
    display: inline-block;
    background-image: url(../images/fish.svg);
    width: 21px;
    height: 22px;
    margin-right: 14px;
}

.more::before {
    content: '';
    display: inline-block;
    background-image: url(../images/pet.svg);
    width: 28px;
    height: 27px;
    margin-top: -5px;
    margin-right: 8px;
}

.site-header {
    background: var(--header-bg);
    height: 39px;
}


/* ***********************
**********SECTION-1*******
**************************/
main {
    margin: 0 auto;
    margin-top: 100px;
}

.section-main {
    margin: 0 auto;
    display: flex;
    background-image: url(../images/animals.png), url(../images/bird1.png);
    background-size: 635px 835px, 208px 430px;
    background-position: left top -70px, right top 430px;
    background-repeat: no-repeat;
}

.section-1__title {
    width: 608px;
    height: 128px;
    margin-top: 153px;
    margin-left: 670px;

    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 64px;
    color: #333333;
}

.section-1__text {
    width: 495px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #949494;
    margin-top: 29px;
    margin-bottom: 56px;
    margin-left: 670px;
}

.section-1__service {
    margin-left: 670px;
}

.section-1__service:hover {
    background: #FFBD54;
    border-radius: 3px;
    color: #333333;
    transition: all .2s;
}

.section-1__service:active {
    opacity: .6;
    transition: all .2s;
}

.quote {
    width: 1135px;
    height: 238px;
    margin-top: 378px;
    margin-left: 116px;
    position: relative;
}

.hr1 {
    position: absolute;
    width: 140px;
    border: 1px solid #DBDBDB;
    top: 21px;
    left: 465px;
}

.hr2 {
    position: absolute;
    width: 140px;
    border: 1px solid #DBDBDB;
    top: 177px;
    left: 465px;
}

.section-1__text--remember {
    position: absolute;
    width: 753px;
    height: 78px;
    font-size: 20px;
    line-height: 26px;
    text-align: center;

    color: #949494;

    top: 64px;
    left: 197px;
}

.quote::before {
    content: '';
    display: inline-block;
    background-image: url(../images/“.png);
    width: 142px;
    height: 128px;
    background-repeat: no-repeat;
    position: absolute;
    left: 60px;
    top: 34px;
}

.quote::after {
    content: '';
    display: inline-block;
    background-image: url(../images/“.svg);
    width: 148px;
    height: 78px;
    background-repeat: no-repeat;
    margin-left: 55px;
    position: absolute;
    right: 0;
    top: 95px;
}

.section-1__commet {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;

    color: #333333;
    position: absolute;
    bottom: 0;
    left: 361px;
}

/* ***********************
**********SECTION-2*******
**************************/

.section-2 {
    width: 1310px;
    height: 747px;
    margin-top: 191px;
    /* border: 1px solid tomato; */
}

.service__title {
    width: 304px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.service__arrow-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vector_padding {
    padding: 10px 14px;
}

.vector_padding:hover {
    background: #FFFFFF;
    transition: all .2s;
}

.vector_padding:active {
    opacity: .6;
    transition: all .2s;
}

.service__arrow--veterinary {
    display: flex;
    align-items: center;
    position: relative
}

.service__arrow--box {
    width: 193px;
    height: 201px;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    border-radius: 5px;
    margin-left: 13px;
}

.service__arrow--box:hover {
    opacity: .8;
    transition: all .2s;
}

.service__arrow--box:active {
    opacity: .6;
    transition: all .2s;
}

.service__arrow--box:nth-of-type(1) {
    position: absolute;
    border-bottom: 0;
    left: -13px;
    top: 0;
    height: 215px;
}

.service__arrow--box:nth-of-type(2) {
    margin-left: 206px;
}

.box1-title,
.box2-title,
.box3-title,
.box4-title,
.box5-title,
.box6-title {
    width: 126px;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.box1-title::before {
    content: '';
    display: inline-block;
    background-image: url(../images/box-1.svg);
    width: 55px;
    height: 78px;
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-bottom: 22px;
}

.box2-title::before {
    content: '';
    display: inline-block;
    background-image: url(../images/box-2.svg);
    width: 62px;
    height: 78px;
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-bottom: 22px;
}

.box3-title::before {
    content: '';
    display: inline-block;
    background-image: url(../images/box-3.svg);
    width: 72px;
    height: 78px;
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-bottom: 22px;
}

.box4-title::before {
    content: '';
    display: inline-block;
    background-image: url(../images/box-4.svg);
    width: 76px;
    height: 78px;
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-bottom: 22px;
}

.box5-title::before {
    content: '';
    display: inline-block;
    background-image: url(../images/box-5.svg);
    width: 78px;
    height: 78px;
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-bottom: 22px;
}

.box6-title::before {
    content: '';
    display: inline-block;
    background-image: url(../images/box-6.svg);
    width: 76px;
    height: 78px;
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-bottom: 22px;
}

.service__launched {
    display: flex;
    align-items: center;
    width: 1223px;
    height: 394px;
    margin-top: 14px;
    background: #FFFFFF;
    border-radius: 0px 5px 5px 5px;
    margin-left: 43px;

}

.service__launched::before {
    content: '';
    display: inline-block;
    background-image: url(../images/cat.png);
    width: 514px;
    height: 309px;
    background-repeat: no-repeat;
    margin-left: 35px;
    margin-right: 67px;
}

.service__launched--title {
    width: 333px;
    height: 35px;
    font-weight: 500;
    font-size: 36px;
    line-height: 20px;

    color: #333333;
    margin-bottom: 18px;
}

.service__launched--text {
    width: 492px;
    height: 60px;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
    margin-bottom: 9px;
}

.service__launched--text2 {
    margin-bottom: 34px;
}

.button__service {
    width: 185px;
    height: 50px;
    padding: 16px 36px;
    color: #FFFFFF;
    border: 0;
    background: #FFBD54;
    border-radius: 3px;
    padding: 0;
}

.button__service2 {
    width: 241px;
    margin-left: 21px;
    background: #333333;
}

.link-df {
    display: flex;
}

.button__link:hover {
    background: #333333;
    color: #FFBD54;
    transition: all .2s;
}

.button__link:active {
    opacity: .6;
    transition: all .2s;
}

.button__link:hover {
    background: #333333;
    color: #FFBD54;
    transition: all .2s;
}

.service__link1,
.service__link2 {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
}

.service__link1::before {
    content: '';
    display: inline-block;
    background-image: url(../images/money.svg);
    width: 22px;
    height: 21px;
    background-repeat: no-repeat;
    margin-right: 6px;
}

.service__link2::before {
    content: '';
    display: inline-block;
    background-image: url(../images/document.svg);
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
    margin-right: 6px;
}


/* ***********************
*********SUBSCRIPTION*******
**************************/


.section-3 {
    height: 308px;
    margin: 0 auto;
    margin-top: 177px;

    background-image: url(../images/subscribe-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-top: 1px solid transparent;
    z-index: 2;
}

.dog {
    position: absolute;
    top: -108px;
    right: 60px;
}

.section-3-subscription {
    height: 308px;
    border-radius: 5px;

    border: 1px solid transparent;

    height: 308px;
}


.subscription__title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 20px;
    color: #FFFFFF;

    margin: 90px 0 32px 222px;
}

.subscription__input {
    width: 335px;
    height: 50px;
    padding-left: 22px;

    background: #FFFFFF;
    border-radius: 5px;
    margin: 0 21px 88px 222px;
    outline: none;
    border: none;
}

.subscription__input:focus {
    border: 2px solid #FFBD54;
}

.subscription__input:invalid {
    border: 2px solid #DC4D41;
    color: #DC4D41;
}

.subscription__input::placeholder {
    font-size: 16px;
    line-height: 20px;

    display: flex;
    align-items: center;

    color: #949494;
}

.section-news {
    margin-top: 216px;
    height: 710px;
}

/* ***********************
************NEWS**********
**************************/
.section-news {
    height: 710px;
}

.news__title {
    text-align: center;
    margin-bottom: 80px;
}

.news__boxes {
    margin-left: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news__box {
    width: 305px;
    height: 435px;

    background: #FEFEFE;
    border: 1px solid #E4E4E2;
    border-radius: 5px;
    border-top: 0;
}

.news__box2 {
    width: 640px;
    height: 435px;

    background: #FEFEFE;
    border: 1px solid #E4E4E2;
    border-radius: 5px;
    border-top: 0;


    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news__box2-df {
    width: 335px;
}

.news__box2::before {
    content: '';
    display: inline-block;
    background-image: url(../images/dognew.png);
    width: 305px;
    height: 435px;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0px 0px;
}

.news__box1::before {
    content: '';
    display: inline-block;
    background-image: url(../images/catnews.svg);
    width: 305px;
    height: 180px;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0px 0px;
}

.news__box3::before {
    content: '';
    display: inline-block;
    background-image: url(../images/dognew2.jpg);
    width: 305px;
    height: 180px;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0px 0px;
}

.data {
    font-size: 14px;
    line-height: 18px;
    color: #949494;
    margin-top: 21px;
    margin-left: 212px;
}

.lidata {
    font-size: 14px;
    line-height: 18px;
    color: #949494;
    margin-left: 67px;
}

.href__data {
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.href__news {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.news__link {
    text-decoration: none;
    margin-right: 7px;

    font-size: 14px;
    line-height: 22px;
    color: #3D9CEA;
}

.href__data .data {
    margin-left: 67px;
    font-size: 14px;
    line-height: 18px;

    color: #949494;
}

.box__title {
    width: 192px;
    font-size: 22px;
    line-height: 25px;
    color: #000000;
    margin-left: 30px;
    margin-top: 2px;
}

.box2__title {
    margin-top: 31px;

}

.box2__text {
    width: 270px;
    margin-top: 15px;
    margin-bottom: 36px;
    margin-left: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}

.box__text {
    width: 244px;
    margin-top: 10px;
    margin-bottom: 38px;
    margin-left: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}

.moree {
    margin-left: 30px;
}

.moree:hover {
    color: #FFBD54;
}

.moree:active {
    color: #333333;
    opacity: .8;
}

/* ***********************
************FEEADBACK******
**************************/

.feedback {
    margin-bottom: 247px;
}

.feedback-content {
    display: flex;
    align-items: center;
    background-color: #333333;
    background-image: url(../images/feedback.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
}

.location {
    width: 462px;
    height: 652px;
    outline: none;
    border: none;
}

.feedback-box {
    padding-left: 166px;
    padding-top: 62px;
}

.feedback-box h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.feedback-box p {
    width: 334px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
    margin-bottom: 29px;
}

.feedback__form>input {
    display: block;
    width: 375px;
    background: #FFFFFF;
    padding: 16px 0 13px 22px;
    margin-bottom: 14px;
    outline: none;
    border: none;
    box-sizing: border-box;
}

.question {
    padding: 17px 103px 0 22px;
    resize: none;
    width: 375px;
    height: 165px;
    box-sizing: border-box;
    border: none;
    outline: none;
    margin-bottom: 30px;
}



.placeholder-maked:focus-within p {
    display: none;
}

.placeholder-maked {
    position: relative;
}

.q1 {
    position: absolute;
    font-size: 16px;
    line-height: 21px;
    color: #949494 !important;
    top: 17px;
    left: 22px;

}

.q2 {
    position: absolute;
    top: 37px;
    left: 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #DBDBDB !important;
}

.question-btn {
    background: #FFBD54;
    border-radius: 0px;
    padding: 15px 49px 14px 50px;
    color: white;
    border: none;
    cursor: pointer;
}



/* ***********************
***********FOOTER*********
**************************/
.site-footer {
    padding: 54px 0 23px 0;
    background: #F3F3F3;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
}

.footer-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-nav li:not(:last-of-type) {
    margin-bottom: 9px;
}

.nav-item--color a {
    text-decoration: none;
    color: #333333;
}

.footer-top ul li {
    list-style: none;
}

.footer-top .day-time {
    width: 180px;
    display: flex;
    flex-wrap: wrap;
}

.footer-top .day-time .time {
    margin-left: 20px;
}

.footer-top .adress {
    width: 157px;
    display: flex;
    justify-content: space-between;
}

.footer-top .tell-number .contact-number {
    display: block;
}


.copyright {
    margin-top: 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #5C5C5C;
}